// April CTP Sample
//
//

.april-sample {
  @extend %section-margin-base;
  padding-top: 0;
  background: $april-bg-color;
  color: #fff;
  text-align: center;
}

.april-sample-slider {
  height: 100vw;
  margin-bottom: rem($vertical-margin-1); // dots 영역
  .item {
    position: relative;
    height: 100vw;
    background: $bg-gray1;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
      max-height: 90%;
    }
  }
  //&:nth-child(1) svg {width: 520px;}
  //&:nth-child(2) svg {width: 480px;}
  //&:nth-child(3) svg {width: 520px;}
  //&:nth-child(4) svg {width: 500px;}
  //&:nth-child(5) svg {width: 490px;}

  .owl-dots {
    margin-top: rem($vertical-margin-1);
  }
}

.april-sample-story {
  width: 100%;
  padding-top: rem($vertical-margin-2);
  .wrapper {
    position: relative;
    height: rem($font-size-base * $line-height * 6); // 6 줄 높이
  }
  .item {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .4s;
    &.active {
      opacity: 1;
      transform: translate(0, 0);
    }

    .title {
      font-weight: 400;
      color: inherit;
      span {
        border-bottom: 1px solid #fff;
        line-height: 1;
      }
    }
    .text {
      margin-top: rem(12px);
    }
  }
}