// April Books
//
//

.april-books {
  @extend %section-margin-base;
  text-align: center;
  .section-header {
    margin-bottom: 0;
  }
}

.april-book-slider {
  margin-bottom: rem($vertical-margin-2);
  .item {
    img {
      width: auto;
      height: 134px;
      margin: 0 auto;
    }
    .layer {
      margin-top: rem(10px);
      @extend %p-small;
      color: $april-text-color;
    }
  }
}