// Brand Articles
//
//

$article-height: rem(160px);
.brand-articles {
  @extend %section-margin-base;
  background: $bg-gray1;
  text-align: center;
  .heading-2 {
    font-size: 1rem;
    color: $text-color-muted;
  }
}

.article-slider {
  height: $article-height;
  margin-top: rem(15px);
  .article {
    box-sizing: border-box;
    height: $article-height;
    background: #fff;
    .title {
      margin: rem(20px) 0 rem(20rem);
    }
  }
}

.article {
  box-sizing: border-box;
  padding: rem(25px) rem(4px);
  border: 1px solid $brand-text-color;
  text-align: center;
  font-weight: 400;
  .date {
    color: $text-color-muted;
    font-size: $font-size-small;
    line-height: 1;
  }
  .title {
    color: $brand-text-color;
    margin: rem(8px) 0 rem(10rem);
    line-height: 1.44444;
  }
  .link {
    display: inline-block;
    font-size: $font-size-small;
    color: $text-color-muted;
    .icon {
      margin-left: .4em;
    }
  }
}