// Brand Intro
//
//

.brand-intro {
  .top {
    padding-top: rem($vertical-margin-1);
    .display-1 {
      margin-bottom: rem($vertical-margin-3);
      text-align: center;
      line-height: $heading-line-height;
      font-size: rem(30px);
    }
    video {
      width: 100%;
    }
  }

  .middle {
    @extend %section-margin-base;
    .heading-1 {
      text-align: center;
    }
  }

  .person-4c-sec {
    @extend %section-margin-base;
    background: $brand-bg-color;
    text-align: center;
  }
  .person-4c {
    @extend %eng;
    font-size: rem(32px);
    line-height: 1.1;
    color: $text-color-silver;
    .color {
      width: .62em;
      color: #fff;
    }
  }
  .person-4c-quote {
    margin-top: rem(20px);
    color: #fff;
    font-weight: 400;
    &:before {
      margin-right: .3em;
      background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAQAAABOkSfeAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhCAoOFxKypRH2AAABK0lEQVQoz13QPUhbURiA4edeU9HWinFSKxRFBJ0cdHGS66Igbg5SujuUgpuDKCjSwdlNcBbczCDKjRCHCIKzi0h/RLuUkHQQkgaHpCH3ftt5eOE75wSx5rzxxVdHdrRPhzXrTqKNTBPGnJi0ZT+RfXRs2q49GuGEgk7zrhLZqIKsxeiCRtgrJytKZW/lDFloZIT4ZtSBguRsm3Do/P8xiAf9ULfsvZ9u1Jve71GnZd2eXEf/yFiVUXEG7nxyC1Z0qciB+/znqBjEl+baFpZM+Y5TS23613RoJnGzPptgNqE9doK4LkjgbwOo6UhoOUxl9Ld+o316Q9UUlcBLSsuhYooa78+nNB/EAx50teCPD17Q55d3La0YDj0bd6OGqthIc2nJmKIqaq6MROVX6HNMw/CETJMAAAAASUVORK5CYII=');
    }
    &:after {
      top: -.1em;
      margin-left: .3em;
      background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAQAAABOkSfeAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhCAoOGBtM4bWdAAABKklEQVQoz13PO0scYRQG4Ge/XWWJuEjEQpII/oSAgiKxmKCVldbWlpYGhNj4B5LCwk5IY6PgCtqMnQFJwMJCBTUsmigp4rrGCxovxRqZmbc7Dy+Hc3IxrRb1Krj13bAT9ZQs6Nfgn00j0WEuLjnS7H8uvFZF0U8vn/VaZzCXqNHkC5hN1Ciaz8VnSpK58gK/taX0NmRqFEFLRhuCWobuwZ+MPgSrGToD5YxeBh/9TdFXMK2a0m/BrkH7T+M5lkHFezsJLediyOvR7sqSG6+e7wu6vXFuSdBRAHfWMSv4nHjj3oYNnzSaiY7rG2HQqh1dLlO39VtT8TaqhScYsOiXoUztnbJTQ1GNgIIpK7b0OUiU8j6I/dAbbdcPZtqocX0qqW2Txkzojvbq4yP47lIy1zLjPwAAAABJRU5ErkJggg==');
    }
  }
}