// Brand Top
//
//

.brand-top {
  overflow: hidden;
  position: relative;
  @extend %full-screen;
  > .wrapper {
    z-index: 1;
    position: relative;
    height: 100%;
  }
}

.brand-slider {
  &, .item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .item {
    background-size: cover !important;
    &.brand {
      z-index: 1;
      background: $brand-bg-color url('../img/brand-top-brand.jpg') 50% 50% no-repeat;
    }
    &.igarten {
      opacity: 0;
      background: $igarten-bg-color url('../img/brand-top-igarten.jpg') 50% 50% no-repeat;
    }
    &.april {
      opacity: 0;
      background: $april-bg-color url('../img/brand-top-april.jpg') 50% 50% no-repeat;
    }
    &.institute {
      opacity: 0;
      background: $april-bg-color url('../img/brand-top-institute.jpg') 50% 50% no-repeat;
    }
  }
}

.brand-slider-nav {
  position: absolute;
  top: 17vh;
  left: 0;
  right: 0;
  text-align: center;
  .nav-link {
    opacity: 0;
    overflow: hidden;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    // 중앙 정렬
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    .en, .ko {
      display: block;
    }
    .en {
      @extend %eng;
      font-weight: 700;
      font-size: rem(24px);
      color: rgba(255,255,255,.3);
      line-height: 1.5;
      letter-spacing: 0;
      .color {
        color: #fff;
      }
    }
    .ko {
      opacity: 0;
      position: relative;
      padding-top: rem(13px);
      font-weight: 400;
      &:before,
      .line {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(255,255,255,.3);
      }
      .line {
        width: 0;
        background-color: #fff;
      }
    }
  }
}

.brand-top-intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding-bottom: 30px;
  transform: translate(-50%, 0);
  text-align: center;
  color: #ffffff;
  font-size: rem(28px);
  line-height: 1;
  .text {
    margin-bottom: rem($vertical-margin-2);
    font-weight: 400;
    opacity: .8;
  }
  .link {
    .icon { // 우주선 아이콘
      overflow: hidden;
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #000;
      .spaceship {
        width: 48%;
        margin-top: -9px;
      }
      .spaceship-line {
        fill: none;
        stroke: $brand-text-color;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }
      .spaceship-body {
        fill: #fff;
      }
    }
    &:after { // 아래 화살표
      content: '';
      display: block;
      width: 10px;
      height: 6px;
      margin: 8px auto 0;
      background: url('../img/icon-arrow-down.svg') 50% 50% no-repeat;
      background-size: contain;
    }
  }
  &:after { // 세로 선
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 1px;
    height: 18px;
    background-color: #ffffff;
  }
}
