// Brand Interview
//
//

.brand-interview {

}

.interview-list.qna-list {
  li {
    border-color: $bg-gray1;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-color: $bg-navy2;
    }
  }
  .q-link {
    background: $bg-navy2;
    color: $text-color-silver;
  }
}