// Brand QnA
//
//

.brand-qna {
  @extend %section-margin-base;
  .qna-list {
    margin-top: rem($vertical-margin-2);
  }
}

// brand-interview 섹션에서도 동일하게 사용함.
.qna-list {
  li {
    border-bottom: 1px solid $brand-text-color;
    &:first-child {
      border-top: 1px solid $brand-text-color;
    }
  }
  .q-link {
    position: relative;
    display: block;
    padding-left: rem(20px);
    line-height: rem(59px);
    height: rem(60px);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    transition: all .4s;
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      width: 15px;
      height: 8px;
      background: url('../img/icon-arrow-down-g.png') 50% 50% no-repeat;
      background-size: contain;
      transform: translate(0, -50%);
    }
  }
  .a-content {
    overflow: hidden;
    box-sizing: border-box;
    max-height: 0;
    background-color: $bg-gray1;
    transition: max-height .4s;
    .inner {
      padding: rem($vertical-margin-2) 40px;
    }
    .title {
      margin-bottom: rem(10px);
      font-weight: 400;
      color: $brand-text-color;
      > span {
        border-bottom: 1px solid $brand-text-color;
      }
    }
    .source {
      display: block;
      margin-top: rem(20px);
      font-size: $font-size-small;
      color: $brand-text-color;
      font-weight: 400;
      &:before, &:after {
        content: '<';
        display: inline;
      }
      &:after {
        content: '>';
      }
    }
  }

  .active {
    .q-link {
      background: $brand-bg-color;
      color: #fff;
      &:after {
        background-image: url('../img/icon-arrow-up-w.png');
      }
    }
    .a-content {
      max-height: 800px; // transition 을 위한 임의 높이
    }
  }
}

.brand-qna-footer {
  @extend %p-small;
  padding-top: rem($vertical-margin-3);
}