// Brand Solution
//
//

.brand-solution {
  padding-top: $vertical-margin-1;
  background: $bg-gray1;
  video {
    margin-top: $vertical-margin-3;
  }
      .brand-bridge {
    	margin:rem(30px) 0 0;
    img {width:100%;}
  }
}