// Igarten Talk
//
//


.igarten-talk {
  > .wrapper { // top
    @extend %section-margin-mixed;
  }
  .igarten-talk-icon {
    width: 35px;
    height: 35px;
    margin: 0 auto rem(15px);
    border-radius: 50%;
    background: $igarten-text-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAaCAYAAAA9rOU8AAACjElEQVRIib2XTUhVQRTH/0+f9mnwhEKpFrapbJMGEZQLa1MLwahF0KIW0catIUEtatNGalOLggIXIkQQ1SLIChKiXeGuJCqE6FPtw5B6T38t5tzu8emre+09Dwz3zjlnzvzuzNwzMxngpaScYqnS4smMe5/ISlojqc4ppyVVLxKI//CarKR8EUivpH5JS1SZUULSlKT9kk5JqjV9XsAYQT7Y8wfQBaiC5QjwxfVbAMYFjJuyA+gjlotAdQVAzrk+bgJ7gGlgwsPsNOfzzvkWkCsTxAqg38W+Yh/bbPVZMLtdwy4gb/pnwOb/BGkCnjiQHmdr/ReMCNMWrad389iTlh3Aa4szCRwqsieCiRxHzD5FWHhpQA4CX639KNBWoo9EMALWA4NuiM8kBDkBzFibx8CGEn6pYAQsBa45oD5gWQnfLHDJ+V4H6v4SOzVMVG64Th4CjUX2euC287mXIOYfmDQZtk3SLldvl/RA0larb5Q0KKnD+WyTtC95bk42Ms3EGfo+0Am8tfon4CRhgQJ8Bg4QEhqEBby9XNO0FnhhPs+BBtNvAoaZLSNAi9lzwFPTj1KGBbyKOFm9B7YU2VcDd80+BKwrsjcBb8w+bP4LgskCd8w2yfw5QkAtcAxYWcLe4vp4BCxfCMxl0xcIyStJbilV9gI/Ld5AWpjTxFKu48RRF7M3Kcxx1+hsmUCi0u1idxNP4xyYVqCdeLe+WmaQqFxwQJ2ERT4Hpofwx0D4Q2orBFNF2CIg5KBu4FcEEx0TCvYcIuxFlQDxQFFKKBBOemMZYExSvSXkcUmHJb2SVJNiq0grBUmNkgYkNUR9Z4Bvmn1VyVcYxANVS8pY/XtW0kfF15WMFv8Sh71P/AbfLr++uaT5zAAAAABJRU5ErkJggg==') 50% 50% no-repeat;
    background-size: 17px auto;
  }
}

.talk-timeline {
  @extend %section-margin-narrow;
  background-image: url('../img/bg-letter2.jpg'), url('../img/bg-letter2.jpg'), url('../img/bg-letter1.jpg');
  background-position: 0 0, 0 100%, 0 100%;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 12px, auto 12px, cover;
  .heading-2 {
    padding-bottom: rem(15px);
    border-bottom: 1px solid $igarten-text-color;
    text-align: center;
    line-height: $line-height;
  }
  .box {
    margin-top: rem(25px);
    .talk-header {
      position: relative;
      padding-left: rem(42px);
      margin-bottom: rem(8px);
      .name {
        font-weight: 400;
        font-size: $font-size-small;
        color: $brand-text-color;
      }
      .headline {
        padding: 2px 0 0;
        font-weight: 400;
        color: $brand-text-color;
      }
      &:after { // profile image
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: rem(32px);
        height: rem(32px);
      }
    }

    &.parent {
      .talk-header:after {
        background: url('../img/profile-parent.png') no-repeat;
        background-size: contain;
      }
    }
    &.company {
      .talk-header:after {
        background: url('../img/profile-logo.png') no-repeat;
        background-size: contain;
      }
      .name {
        color: $igarten-text-color;
      }
    }

    &.more {
      background: rgba(255,255,255,.8);
    }
  }
}