// Igarten Quiz
//
//


.igarten-quiz {
  padding-top: rem($vertical-margin-3);
  padding-bottom: rem($vertical-margin-2);
  background-color: $bg-gray2;
  .box {
    @extend %section-margin-narrow;
    margin-bottom: rem($vertical-margin-3);
    background: #fff;
    .slider-title {
      text-align: center;
    }
  }
  .section-header {
    margin-bottom: 0;
    .text {
      text-align: left;
    }
  }
}

.quiz-slider {
  margin: 15px auto 10px;
  .owl-item {
    .item {
      position: relative;
      margin: 0 35px; // nav width
      .answer {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

  }
}

.quiz-button {
  text-align: center;
}

.quiz-number {
  margin-bottom: rem($vertical-margin-2);
}