// Section More
//
//

.section-more {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:100%;
  height: calc(100vw * 255 / 640);
  margin-top: rem($vertical-margin-2);
  color: #ffffff;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  .more-title {
    margin-top: rem(3px);
    line-height: 1;
    font-weight: 400;
  }
  .btn {
    margin-top: rem(8px);
  }

  &.brand-more {
    background-image: url('../img/section-more-brand.jpg');
  }
  &.igarten {
    background-image: url('../img/section-more-igarten.jpg');
  }
  &.april {
    background-image: url('../img/section-more-april.jpg');
  }
  &.institute {
    
    background-image: url('../img/section-more-institute.jpg');
    margin:0;
  }
}

