// Section
//
//


// Section
//
// 섹션에 따른 마진 일원화하기 - 배경색 넣어야해서 margin 대신 padding으로 작업.
%section-margin-base {
  padding-top: rem($vertical-margin-1);
  padding-bottom: rem($vertical-margin-1);
}
%section-margin-mixed {
  padding-top: rem($vertical-margin-1);
  padding-bottom: rem($vertical-margin-2);
}
%section-margin-narrow {
  padding-top: rem($vertical-margin-2);
  padding-bottom: rem($vertical-margin-2);
}

// Section Header
//
// 구조1: subtitle + heading-1
// 구조2: heading-1 + text
.section-header {
  margin-bottom: rem($vertical-margin-3);
  text-align: center;
  .sub-title {
    margin-bottom: rem(10px);
    font-size: 1rem;
    color: $text-color-muted;
    line-height: 1;
  }
  .heading-1 {
    line-height: $heading-line-height;
  }
  .text {
    margin-top: rem(15px);
  }
}