// Styles - Mobile
//
//

@import 'functions';
@import 'variables'; // 프로젝트 공통 변수
@import 'mixins';

@import 'common'; // reset, header 스타일. 기존 공통 스타일. - 최대한 원본 그대로 유지함.

@import "typography";
@import "buttons";
@import "slider";
@import "video";
@import "utilities";

// 프로젝트 메인 컨텐츠 스타일
@import 'layout';
@import 'main';

// 청담러닝
@import 'brand-top';
@import 'brand-intro';
@import 'brand-articles';
@import 'brand-robert';
@import 'brand-interview';
@import 'brand-solution';
@import 'brand-qna';

// 섹션 공통
@import 'section';
@import 'section-nav';
@import 'section-top';
@import 'section-more';

// 아이가르텐 섹션
@import 'igarten-talk';
@import 'igarten-iplay';
@import 'igarten-art';
@import 'igarten-quiz';

// 에이프릴 섹션
@import 'april-ctp';
@import 'april-sample';
@import 'april-practice';
@import 'april-books';
@import 'april-illustrations';

// 어학원 섹션
@import 'institute-common'; 
@import 'institute-remark'; 
@import 'institute-overview'; 
@import 'institute-curriculum'; 
@import 'institute-interview'; 
@import 'institute-qa'; 