// April Practice, Tools
//
//

.april-practice,
.april-tools {
  @extend %section-margin-mixed;
  text-align: center;
  .inner {
    max-width: rem(550px);
    margin: 0 auto;
  }
  .section-header {
    .text {
      margin-top: rem(25px);
    }
  }
}

.april-practice {
  background: $bg-gray2;
  .april-practice-img {
    width: 420px;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
    }
    figcaption {
      margin-top: rem(30px);
      @extend %p-small;
    }
  }
}

.april-tools {
  background: $bg-gray3;
  .april-tool-slider {
    width: 380px;
    margin: 0 auto;
    img {
      width: 360px;
      margin: 0 auto;
    }
    .text {
      margin-top: rem(25px);
      @extend %p-small;
    }
    .owl-prev,
    .owl-next {
      top: 60px;
      margin-top: 0;
    }
    .owl-prev {
      margin-right: -10px;
    }
    .owl-next {
      margin-left: -10px;
    }
  }

}