// Brand Intro
//
//

.brand-intro {
  @extend %section-margin-base;
  background-color: $bg-gray1;
  .top {
    margin-bottom: rem($vertical-margin-2);
    .display-1 {
      margin-bottom: rem(45px);
      font-size: rem(54px);
      text-align: center;
      color: inherit; // 본문 색상
    }
    video {
      width: 100%;
    }
  }

  .text {
    margin-top: rem(30px);
    color: $text-color-muted;
    font-size: rem(20px);
  }

  .person-4c-col > * {
    margin-left: 9%;
  }
  .person-4c {
    margin-top: rem(55px);
    @extend %eng;
    font-size: rem(66px);
    line-height: 1.21212121;
    font-weight: 700;
    color: $text-color-silver;
    .color {
      width: .64em;
      color: $brand-bg-color;
    }
  }
  .person-4c-quote {
    margin-top: .2em;
    font-size: rem(24px);
    color: $text-color-muted;
  }
}