// Brand QnA
//
//

.brand-qna {
  @extend %section-margin-base;
  background-color: $bg-gray2;
  text-align: center;
}

.qna-list {
  margin-top: rem($vertical-margin-2);
  background: #fff;
  text-align: center;
  li {
    &:not(:first-child) {
      border-top: 1px solid $border-color-gray;
    }
    &.hidden { // 더보기로 열릴 목록
      display: none;
    }
  }
  .q-link {
    position: relative;
    display: block;
    font-size: $font-size-lead;
    line-height: rem(99px);
    height: rem(100px);
    font-weight: 400;
    &:before {
      content: 'Q';
      position: absolute;
      left: rem(65px);
      @extend %eng;
      font-weight: 700;
      font-size: rem(34px);
    }
  }
  .a-content {
    overflow: hidden;
    box-sizing: border-box;
    max-height: 0;
    background-color: $bg-gray1;
    transition: max-height .4s;
    text-align: left;
    .inner {
      padding: rem(35px) rem(80px) rem(40px);
      border-top: 1px solid $border-color-gray;
    }
    .title {
      font-size: $heading-2;
      line-height: 1;
      text-align: center;
      span {
        display: inline-block;
        border-bottom: 1px solid $text-color;
        padding-bottom: rem(10px);
        margin-bottom: rem(10px);
      }
    }
  }

  .active {
    .q-link {
      color: $brand-text-color;
    }
    .a-content {
      max-height: 400px; // transition 을 위한 임의 높이
    }
  }

  .more {
    a {
      display: block;
      height: rem(80px);
      line-height: rem(79px);
      background-color: $text-color-silver;
      color: #ffffff;
      font-weight: 400;
      .icon {
        margin-right: .2em;
      }
    }
  }
}

.brand-qna-footer {
  margin-top: rem(40px);
  font-size: rem(16px);
}