// Igarten iPlay
//
//

$iplay-slider-length: 6;
$iplay-height: 800px;
$iplay-height-md: 600px;
$iplay-height-sm: 500px;
.igarten-iplay {
  @extend %full-screen;
  min-height: $iplay-height;
  background: $igarten-bg-color;
  width: 100%; // ie10 bug fix
  display: flex;
  flex-direction: column;
  justify-content: center;
  .wrapper {
    max-width: $iplay-height * 2;
    .frame { // 2:1 비율 프레임
      position: relative;
      height: 0;
      padding-bottom: 50%;
    }
  }
}

.iplay-content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 50%;
  padding: rem(50px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .top {
    box-sizing: border-box;
    width: 100%;
    padding: rem(50px);
    background: rgba(0,0,0,.2);
    .heading-1 {
      font-size: rem(32px);
      @extend %eng;
      color: inherit;
    }
    .text {
      font-size: $font-size-lead;
      line-height: $line-height-small;
      .by {
        display: block;
        margin-top: rem(10px);
        font-size: $font-size-small;
      }
    }
    .iplay-process {
      font-size: $font-size-lead;
      span {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .iplay-story-timeline {
    position: relative;
    margin: rem(70px) auto rem(40px);
    width: 230px;
    border-bottom: 1px solid #fff;
    .item {
      position: absolute;
      bottom: 0;
      &:nth-child(1) {left: 0;}
      &:nth-child(2) {left: 20%;}
      &:nth-child(3) {left: 40%;}
      &:nth-child(4) {left: 60%;}
      &:nth-child(5) {left: 80%;}
      &:nth-child(6) {left: 100%;}
      .title {
        position: absolute;
        bottom: rem(20px);
        left: 0;
        width: 100px;
        margin-left: -50px;
        text-align: center;
        font-weight: 400;
        line-height: 1;
        opacity: 0;
        transform: translate(0, 10px);
        transition: all .4s;
      }
      &:after {
        content: '';
        position: absolute;
        left: -3px;
        bottom: -3px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
      }
      &:before {
        content: '';
        position: absolute;
        left: -10px;
        bottom: -10px;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid #fff;
        opacity: 0;
        transform: scale(0);
        transition: all .4s;
      }
      &.active {
        .title {
          opacity: 1;
          transform: translate(0, 0);
        }
        &:before {
          opacity: 1;
          transform: scale(1);
        }

      }
    }
  }
  .iplay-story {
    position: relative;
    width: 100%;
    height: 3em;
    .item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-size: $font-size-lead;
      line-height: $line-height-small;
      opacity: 0;
      transform: translate(0, 10px);
      transition: all .4s;
      &.active {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  .iplay-slider-nav {
    @extend %clearfix;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    a {
      float: left;
      display: block;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      background: rgba(0,0,0,.2);
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 30px;
        margin-top: 15px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAABtklEQVRIibXWP4jPcRgH8NdxKaUUgzwDgxmlKxdXkuTPcgkRg+06kzKQgaIMsigDkxJSiBGjnAyOG4wyMLwxSBkM5DL8vqe7H879fn6e9fvp1fN8vs/3eb59ehBJVuAWls3rAbYNE1iPp/3/AM3DSZzCJI7iQl+X2BJcxw68w76qegwdg0kGcAcr8Qj7q+r91POO7jDJCJ402HlsmY7BnO4wyUJcwiF8brK697uzfy05ySrcxRq8xO6qevWn87OWnGQYzxvsGgZnw/hDyUnm4yyO4ysOV9Xl2aCp+KXkJMtwE5vxFnuq6tlcMNpKTrIBLxrsIdZ1gs0AkxzR6qvlOIOdVfWxEwz6kizCFezFJxyoqgedQlPRjzGsxbjWfb3pFqPDL2Wu4BBuYwATSbb3RE5yJMm3JJNJTjfjqeOY0YdJNmpN3tJqm4Odvun/29hQVR+wFeewAmNJRrvOsC3bYVzFYq3hMFpVX7oGG7R34wuq6jUGm0xXYzzJrq4zbMt2BBexQGsFnKiq712DDdq7JQVVNY51uI9NeJFkqOsMp2XavuiP6XbRt8HbcANLcfOfwQb9+bP0A23UrFP8llkxAAAAAElFTkSuQmCC');
      }
      &.disabled {
        opacity: .1;
        cursor: default !important;
      }
      &.prev {
        &:before {
          transform: translate(-4px, 0);
        }
      }
      &.next {
        &:before {
          transform: translate(4px, 0) rotate(180deg);
        }
      }
    }

  }
}

.iplay-illust {
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  .iplay-illust-inner {
    width: 100% * $iplay-slider-length;
    height: 100%;
  }
  .item {
    position: relative;
    float: left;
    width: 100% / $iplay-slider-length;
    height: 100%;
    img {
      width: 100%;
    }
    .text {
      position: absolute;
      color: $igarten-text-color;
      text-align: center;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      font-size: rem(30px);
      line-height: 1.2;
      font-style: italic;
      span {
        display: block;
      }
    }
    &.item1 .text {left: 59%; top: 18.4%;}
    &.item2 .text:nth-child(1) {left: 62%; top: 20%;}
    &.item2 .text:nth-child(2) {left: 35%; top: 61%;}
    &.item3 .text {left: 52%; top: 30%;}
    &.item4 .text {left: 69%; top: 29%;}
    &.item5 .text {left: 65%; top: 66%;}
    &.item6 .text {left: 33%; top: 72%;}
  }
}

// 컨텐츠 맞춤 반응형
@media (max-width: $iplay-height * 2 - 1), (max-height: $iplay-height + $header-height - 1) {
  .igarten-iplay {
    min-height: $iplay-height-md;
    .wrapper {
      max-width: $iplay-height-md * 2;
    }
  }
  .iplay-content {
    padding: rem(25px);
    .top {
      padding: rem(30px) 0;
      .section-header {
        margin-bottom: rem(25px);
      }
      .text,
      .iplay-process {
        font-size: rem(18px);
      }
    }
    .iplay-story .item {
      font-size: rem(20px);
    }
  }
  .iplay-illust .item .text {
    font-size: $font-size-lead;
  }
}
@media (max-width: $iplay-height-md * 2 - 1), (max-height: $iplay-height-md + $header-height - 1) {
  .igarten-iplay {
    min-height: $iplay-height-sm;
    .wrapper {
      max-width: $iplay-height-sm * 2;
    }
  }
  .iplay-content {
    padding: 0 rem(25px) 0 0;
    .top {
      padding: rem(20px);
      .section-header {
        margin-bottom: rem(20px);
      }
      .text,
      .iplay-process {
        font-size: rem(16px);
      }
    }
    .iplay-story .item {
      font-size: rem(18px);
    }
  }
  .iplay-illust .item .text {
    font-size: rem(20px);
  }
}