// Igarten Quiz
//
//


.igarten-quiz {
  @extend %section-margin-mixed;
  background-color: $bg-gray2;
  .section-header {
    text-align: center;
    .heading-1 {
      color: $igarten-text-color;
    }
  }
  .slider-title {
    font-size: rem(30px);
    text-align: center;
    font-weight: 400;
  }
}

.quiz-slider {
  max-width: 1600px;
  height: 180px;
  margin: 30px auto 0;
  .owl-stage-outer {
    overflow: visible;
  }
  .owl-item {
    .answer {
      display: none;
    }
  }
  .owl-prev {
    margin-right: 400px; // owl-item 넓이의 반
  }
  .owl-next {
    margin-left: 400px; // owl-item 넓이의 반
  }
}

.quiz-button {
  width: 800px;
  margin: rem(20px) auto 0;
  text-align: right;
  .btn {
    position: relative;
    z-index: 1; // 슬라이더 dots 겹쳐서 위로 올림.
  }
}