// Igarten Talk
//
//


.igarten-talk {
  @extend %section-margin-base;
  background-image: url('../img/bg-letter2.jpg'), url('../img/bg-letter2.jpg'), url('../img/bg-letter1.jpg');
  background-position: 0 0, 0 100%, 0 100%;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 23px, auto 23px, cover;
  .igarten-talk-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto rem(15px);
    border-radius: 50%;
    background: $igarten-text-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAaCAYAAAA9rOU8AAACjElEQVRIib2XTUhVQRTH/0+f9mnwhEKpFrapbJMGEZQLa1MLwahF0KIW0catIUEtatNGalOLggIXIkQQ1SLIChKiXeGuJCqE6FPtw5B6T38t5tzu8emre+09Dwz3zjlnzvzuzNwzMxngpaScYqnS4smMe5/ISlojqc4ppyVVLxKI//CarKR8EUivpH5JS1SZUULSlKT9kk5JqjV9XsAYQT7Y8wfQBaiC5QjwxfVbAMYFjJuyA+gjlotAdQVAzrk+bgJ7gGlgwsPsNOfzzvkWkCsTxAqg38W+Yh/bbPVZMLtdwy4gb/pnwOb/BGkCnjiQHmdr/ReMCNMWrad389iTlh3Aa4szCRwqsieCiRxHzD5FWHhpQA4CX639KNBWoo9EMALWA4NuiM8kBDkBzFibx8CGEn6pYAQsBa45oD5gWQnfLHDJ+V4H6v4SOzVMVG64Th4CjUX2euC287mXIOYfmDQZtk3SLldvl/RA0larb5Q0KKnD+WyTtC95bk42Ms3EGfo+0Am8tfon4CRhgQJ8Bg4QEhqEBby9XNO0FnhhPs+BBtNvAoaZLSNAi9lzwFPTj1KGBbyKOFm9B7YU2VcDd80+BKwrsjcBb8w+bP4LgskCd8w2yfw5QkAtcAxYWcLe4vp4BCxfCMxl0xcIyStJbilV9gI/Ld5AWpjTxFKu48RRF7M3Kcxx1+hsmUCi0u1idxNP4xyYVqCdeLe+WmaQqFxwQJ2ERT4Hpofwx0D4Q2orBFNF2CIg5KBu4FcEEx0TCvYcIuxFlQDxQFFKKBBOemMZYExSvSXkcUmHJb2SVJNiq0grBUmNkgYkNUR9Z4Bvmn1VyVcYxANVS8pY/XtW0kfF15WMFv8Sh71P/AbfLr++uaT5zAAAAABJRU5ErkJggg==') 50% 50% no-repeat;
    background-size: 22px auto;
  }
  .section-header {
    text-align: center;
    .sub-title {
      margin-bottom: rem(8px);
      font-size: 1rem;
    }
    .text {
      position: relative;
      margin-top: rem(40px);
      &:after { // 흰 선
        content: '';
        display: block;
        position: absolute;
        top: rem(-20px);
        left: 50%;
        width: 800px;
        border-top: 1px solid #fff;
        transform: translate(-50%, 0);
      }
    }
  }
}

.talk-timeline {
  position: relative;
  margin-bottom: rem(-50px);
  .line { // 중앙 라인
    position: absolute;
    left: 50%;
    top: 0;
    bottom: rem(240px);
    @include media-breakpoint-down(xl) {
      bottom: rem(275px);
    }
    border-left: 1px solid #fff;
    &:before {
      content: '';
      position: absolute;
      left: -6px;
      box-sizing: border-box;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
    &:before {
      top: -10px;
    }
  }
  .outer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: rem(1840px); // 높이 맞춰야 레이아웃이 잡힘.
    margin-bottom: rem(-120px);
  }
  .box {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    &:not(:first-child) {
      margin-top: rem(60px);
    }
    &:nth-child(1) {
      margin-top: rem(10px);
    }
    &:nth-child(2) {
      margin-top: rem(100px);
    }
    &:nth-child(3) {
      margin-top: rem(150px);
    }
    &:nth-child(5) {
      margin-top: rem(200px);
    }
    &:nth-child(7) {
      margin-top: rem(160px);
    }
    &:nth-of-type(odd) {
      order: 1;
    }
    &:nth-of-type(even) {
      order: 2;
    }
    .inner {
      position: relative;
      box-sizing: border-box;
      padding: rem(30px) rem(45px) rem(35px);
      background-color: #fff;
      &:before { // tip
        content: '';
        position: absolute;
        top: 35px;
        display: block;
        width: 22px;
        height: 22px;
        transform: rotate(45deg);
        background-color: #ffffff;
      }
    }
    &:before { // timeline circle
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      position: absolute;
      top: 42px;
    }
    .talk-header {
      position: relative;
      padding-left: rem(65px);
      padding-bottom: rem(10px);
      border-bottom: 1px solid $border-color-gray;
      margin-bottom: rem(15px);
      line-height: 1.55;
      .name {
        font-weight: 400;
        color: $text-color-muted;
      }
      .headline {
        padding: 5px 0 2px;
        font-size: rem(20px);
        font-weight: 400;
        color: $brand-text-color;
      }
      &:after { // profile image
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: rem(50px);
        height: rem(50px);
      }
    }

    &.left {
      padding-right: 60px;
      .inner {
        &:before { // tip
          right: -10px;
        }
      }
      &:before { // timeline circle
        right: -6px;
        background-color: $brand-bg-color;
      }
    }
    &.right {
      padding-left: 60px;
      .inner {
        &:before { // tip
          left: -10px;
        }
      }
      &:before { // timeline circle
        left: -6px;
        background-color: $igarten-bg-color;
      }
    }

    &.parent {
      .talk-header:after {
        background: url('../img/profile-parent.png') no-repeat;
        background-size: contain;
      }
    }
    &.company {
      .talk-header:after {
        background: url('../img/profile-logo.png') no-repeat;
        background-size: contain;
      }
    }

    &.more {
      .article {
        position: relative;
        padding: 0;
        .title {
          margin-bottom: 0;
          color: inherit;
        }
        .link {
          position: absolute;
          right: 0;
          top: rem(25px);
        }
      }
    }
  }
}