// institute-interview

.institute-interview {
	    p {
	    	&.al {text-align:left;font-size:rem(18px);margin-bottom:rem(30px);
	    		.colored-institute {font-size:rem(22px);display:block;margin-bottom:rem(10px);font-weight:500;}
	    	}
	    	&.interview-al {
            text-align:left;margin-bottom:rem(70px);
            &.bold {font-weight:500;color:$text-color-dgray;line-height:1.5;}
        }
    }
	@extend %section-margin-base;
	overflow:hidden;
	padding-top:rem(150px);
	padding-bottom:0;
	.section-header {width:auto;text-align:center;margin:0 auto;display:inline-block;margin:rem(30px) 0 rem(50px);
		.heading-1 {
            position:relative;
            display:block;
            width:auto;
            color:$text-color-char;
            &:before {
                position:absolute;
                content:'';
                background-color:$text-color-silver;
                height:rem(1px);
                width:100%;
                display:block;
            	top:-11px;
            }
            &:after {
                position:absolute;
                content:'';
                background-color:$institute-text-color;
                height:rem(5px);
                width:100px;
                left:calc(50% - 50px);
                display:inline-block;
                top:-10px;
            }
        }
	}
	#institute-interview {margin:0 auto;position:relative;height:rem(735px);background-color:#fff;}
	.col3 {
		position:absolute;
		width:100%;
		max-width:1600px;
		height:rem(735px);
		background-size:cover;
		overflow:hidden;
			.interview_content {display:none;}
		.col {
			position:relative;
			height:rem(735px);
			max-height:rem(735px);
			background-repeat:no-repeat;
			background-color:white;
			&:nth-child(1) {z-index:10;display:block;color:#fff;display:block;}
			&:nth-child(2) {max-width:rem(450px);min-width:33.3%;padding:rem(80px) rem(40px) rem(120px);font-size:rem(22px);}
			&:nth-child(3) {max-width:rem(450px);min-width:33.3%;padding:rem(80px) rem(40px) rem(120px);}
			.interview_hover {visibility:hidden;opacity:0;}
			.interview_cover {visibility:visible;opacity:1;position:relative;
				&:after {
					content:'';
					position:absolute;
					left:0;right:0;
					top:0;bottom:0;
					background-color:rgba(177,21,51,0.15);
					width:100%;
					height:100%;
				}
			}
			.interview_cover, .interview_hover {position:absolute;left:0;right:0;top:0;bottom:0;background-size:cover;width:100%;height:735px;}
			.interview_num {
				font-family:$font-family;
				font-size:rem(18px);
				display:inline-block;
				text-align:center;
				&:before {
					content:'';
					height:rem(6px);
					background-color:#fff; 
					width:100%;
					display:block;
				}
			}
			.interview_arrow {
					background-color:#fff;
					display:block;
					width:50%;
					height:2px;
					position:absolute;
					top:0px;
					left:50%;
					visibility:hidden;opacity:0;
					&:before {
						position:absolute;
						content:'';top:rem(-9px);right:0px;background-size:cover;
						width:rem(12px);height:rem(20px);
						background-image:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAQAAAAT+RSaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhCQgKCzL/3CWEAAAA3klEQVQY012RMUtCYRSG33uvCLkEkdDW2CDi2uKSY4gICYo/wVXQ/yAIYiENOdTuLjSEzY39gLYmB+NBbl44DhfRe84ZDjwPnO+c74gy71wgn6GmqulDV3IRqqNvlbXStTOIS74wfrg5bZWWcz4xfql4IQosMdbceiHyLDD+uPNCRLxibKl7IQKeMP7poFxmRFNPGw31prPQL6aVEkWq+q+4J8aYE2VxgxjjhTD7eJMY45kgO9UDMcYsxUfRYofxeMAH0SbBmBxxKrokGONTjESJBGPkLxgg9VXUwO+5B8fB4Qgi+50BAAAAAElFTkSuQmCC');}
					}
			.interview_title {font-size:rem(28px);line-height:1.4;margin:rem(20px) 0;display:block;font-weight:500;}
			.interview_who {font-size:rem(18px);font-family:$font-family-eng;font-weight:500;}
		}

		&:nth-child(1) {
			top:0px;
			.interview_cover {background-image:url('../img/institute/interview_cover_1.jpg');
				&:after {content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);visibility:hidden;opacity:0;}
			}
			.overlay {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);visibility:hidden;opacity:0;}

			.interview_hover {background-image:url('../img/institute/interview_cover_1_hover.jpg');}
		}
		&:nth-child(2) {
			top:0px;
			.interview_cover {background-image:url('../img/institute/interview_cover_2.jpg');
				&:after {content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(177,21,51,0.7);visibility:hidden;opacity:0;}
			}
			.overlay {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(177,21,51,0.7);visibility:hidden;opacity:0;}

			.interview_hover {background-image:url('../img/institute/interview_cover_2_hover.jpg');}
			.interview_inner {
				background-size:100vw; background-color:rgba(177,21,51,0.7);
			}
		}
		&:nth-child(3) {
			top:0px;
			.interview_cover {background-image:url('../img/institute/interview_cover_3.jpg');
					&:after {content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);visibility:hidden;opacity:0;}
			}
			.overlay {content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);visibility:hidden;opacity:0;}
	
			.interview_hover {background-image:url('../img/institute/interview_cover_3_hover.jpg');}
		}
	
		.interview_inner {
			position:absolute;
			bottom:0px;
			left:0px;
			height:rem(230px);
			width:100%;
			background-color:rgba(0,0,0,0.7);
			span {display:block;}
		}
		.interview_navi {
			position: absolute;
		    bottom: rem(50px);
			left: rem(575px);
			z-index:13;
			display:none;
			span {display:inline-block;}
		}
	}
}

