<div id="april" class="section-top april ja_section_wrap" ja-section-title="에이프릴 인트로">
  <div class="wrapper">
    <h2 class="title"><span class="point">융</span><span class="point">합</span>이 창의력이다</h2>
    <p class="text">
      약 10년 전 등장해 세상을 바꿔 놓은 <br>
      아이폰은 무에서 유를 창조한 게 아니다. <br>
      그 전부터 있던 휴대전화와 인터넷과 i-pod를 <br>
      융합한 결과다. 이처럼 21세기 창의성은 기존 <br>
      지식을 이해하고 필요한 맥락에 따라 재구성하는 <br>
      능력이다. 다시 말하면 융합력이다. 7세부터 <br>
      초등생을 대상으로 한 에이프릴 어학원은 언어, <br>
      사고, 예술을 유기적으로 연계한 방법론을 <br>
      기반으로 융합력과 표현력을 기른다.
    </p>
    <div class="graphic">
      <span class="left">
        <span>Language</span>
        <span>
          <svg class="plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <circle cx="15" cy="15" r="15" style="fill: #fff;"/>
            <rect x="8" y="14" width="14" height="2" style="fill: #a3bd0b;"/>
            <rect x="14" y="8" width="2" height="14" style="fill: #a3bd0b;"/>
          </svg>
          Thinking</span>
        <span>
          <svg class="plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <circle cx="15" cy="15" r="15" style="fill: #fff;"/>
            <rect x="8" y="14" width="14" height="2" style="fill: #a3bd0b;"/>
            <rect x="14" y="8" width="2" height="14" style="fill: #a3bd0b;"/>
          </svg>
          Arts</span>
      </span>
      <span class="right">
        <svg class="equal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
          <circle class="cls-1" cx="15" cy="15" r="15" style="fill: #fff;"/>
          <rect class="cls-2" x="8" y="12" width="14" height="2" style="fill: #a3bd0b;"/>
          <rect class="cls-2" x="8" y="17" width="14" height="2" style="fill: #a3bd0b;"/>
        </svg>
        Creativity</span>
    </div>
  </div>
</div>

<div class="april-ctp ja_section_wrap" ja-section-title="에이프릴 CTP">
  <div class="wrapper">
    <header class="section-header">
      <h2 class="heading-1 colored-april bordered"><span>Creative Thinking Project로</span><br><span>기르는 창의 사고력</span></h2>
      <div class="wrapper2">
        <p class="text">
          보통 영어학원은 쪽지시험이나 테스트를 통해 단원을 매듭짓는다. 에이프릴은 완전히 다르다. 2주 동안 익힌 언어 역량과 독서활동으로 쌓은 배경 지식을 크리에이티브 싱킹 프로젝트(Creative Thinking Project·CTP)를 통해 창조적으로 융합한다. 이 과정을 거치며 책과 교실에서 배운 것은 비로소 살아 있는 지식이 된다.
          <br>
          <span class="colored-april">
            CTP에서는 주어진 과제를 해결하기 위해 고민하고, 기획하고, 대본을 쓰고, 연기를 하고, 영상을 제작해 발표하고, 공유하는 활동을 한다.
            학생들은 주기적으로 뉴스, 인터뷰, 포스터, 광고 등 다양한 미디어 결과물을 만든다.
          </span>
        </p>
      </div>
    </header>
  </div>
</div>

<div id="april-sample" class="april-sample ja_section_wrap" ja-section-title="에이프릴 CTP 과제">
  <div id="april-sample-slider" class="april-sample-slider owl-carousel april timeline-dots">
    <div class="item">
      {% include "_april-sample1.svg" %}
    </div>
    <div class="item">
      {% include "_april-sample2.svg" %}
    </div>
    <div class="item">
      {% include "_april-sample3.svg" %}
    </div>
    <div class="item">
      {% include "_april-sample4.svg" %}
    </div>
    <div class="item">
      {% include "_april-sample5.svg" %}
    </div>
  </div>
  <div id="april-sample-story" class="april-sample-story">
    <div class="wrapper">
      <div class="item active">
        <h3 class="title"><span>이번 주제는 디지털 애완동물!</span></h3>
        <p class="text">애완동물에 대해 배운 뒤 열린 CTP의 과제는
          ‘디지털 애완동물을 구상하고 이를 홍보하는 CF를 제작하라’이다.
          CTP는 혼자 하는 경우도 있지만 대체로 2~4명이 조를 이뤄 한다.
          의견을 나누며 협업을 경험하는 것도 CTP의 교육 목표다.</p>
      </div>
      <div class="item">
        <h3 class="title"><span>사고 도구로 아이디어 짜기</span></h3>
        <p class="text">재밌고 설득력 있는 광고를 만들려면
          우선 사람들이 좋아할 만한 디지털 애완동물이 뭔지 알아야 한다.
          이번에 사용하는 사고 도구는 베스트 초이스다.
          각자 디지털 펫에 꼭 필요한 기능을 정리한 뒤 이를 취합하고 토론한다.
          이를 통해 가장 이상적인 디지털 애완동물을 구체화한다.</p>
      </div>
      <div class="item">
        <h3 class="title"><span>지식 총동원 대본 완성</span></h3>
        <p class="text">디지털 애완동물 광고를 어떻게 만들지 기획한다.
          형식과 강조할 부분 등 고민거리가 많다. 기획이 끝나면 대본을 작성한다.
          이 과정에서 지난 2주간 배운 어휘와 지식이 총동원되고 융합된다.
          팀원과 협력해 디지털 애완동물 홍보 시나리오를 완성한다.</p>
      </div>
      <div class="item">
        <h3 class="title"><span>연기하고 영상 제작</span></h3>
        <p class="text">팀원과 역할을 나누고, 교실 앞 무대로 나가 친구들 앞에서
          크로마키를 배경으로 연기한다. 이 모습은 동영상으로 제작된다.
          모든 CTP 활동은 뉴스 리포트, 인터뷰, 토론, 영화, 신문기사, 포스터,
          프레젠테이션 등 다양한 미디어 형태로 완성된다.</p>
      </div>
      <div class="item">
        <h3 class="title"><span>누가 누가 잘했을까</span></h3>
        <p class="text">완성된 영상은 청담러닝의 온라인 카페인 ‘크리에이티브 카페’에
          업로드된다. 친구들이 만든 영상을 공유하고 의견을 나누며 지지하고
          평가한다. CTP는 멋지게 마무리될 때도 있고, 기대에 미치지 못할 때도
          있다. 성공과 실패 모두 학생들에게는 의미 있는 경험이 된다.</p>
      </div>
    </div>
  </div>
</div>

<div class="april-practice ja_section_wrap" ja-section-title="에이프릴 학생작">
  <div class="wrapper">
    <header class="section-header">
      <h2 class="heading-1 colored-april bordered"><span>성공과 실패도 모두 멋진 경험...</span><br><span>만드는 과정이 중요</span></h2>
      <div class="wrapper2">
        <p class="text">
          언뜻 보면 이런 활동은 학습과 상관없어 보인다. 그러나 CTP는 에이프릴 어학원 커리큘럼의 핵심이다. 통합교과 기반의 언어학습과 독서활동을 통해 습득한 지식은 CTP를 통해 융합되고 완성된다.
        </p>
      </div>
    </header>
    <figure class="april-practice-img">
      <img src="./img/april-practice.jpg" alt="">
      <figcaption>학생들은 스스로 대본을 만들고, 크로마키 앞에서 연기한다. 영어를 배우는 것으로 끝나는 게 아니라 그것을 활용해 뭔가 만들어낸다.</figcaption>
    </figure>
  </div>
</div>

<div class="april-tools ja_section_wrap" ja-section-title="에이프릴 사고도구">
  <div class="wrapper">
    <header class="section-header">
      <h2 class="heading-1 colored-april bordered"><span>마인드맵, PMI, 역브레인스토밍...</span><br><span>생각의 힘 기르는 사고 도구</span></h2>
      <div class="wrapper2">
        <p class="text">
          사고 도구는 창의적 사고 및 논리적 사고를 도와주는 생각의 기법이다. CTP에서는 레벨에 맞춰 발산적 사고부터 수렴적 사고까지 도와주는 여러 사고 도구를 배치했다. 이를 통해 체계적&middot;분석적 사고를 자연스레 경험한다.
        </p>
      </div>
    </header>
  </div>

  <div id="april-tool-slider" class="april-tool-slider owl-carousel april">
    <div class="item">
      <img src="img/tool/tool1.jpg" alt="PMI">
      <p class="text">
        아이디어의 좋은 점(Plus), 아이디어의 나쁜 점(Minus).<br>
        아이디어의 흥미로운 점(Interesting)을 따져보며 <br>아이디어를 도출한다.
      </p>
    </div>
    <div class="item">
      <img src="img/tool/tool2.jpg" alt="마인드">
      <p class="text">
        마음속에 지도를 그리는 것처럼 <br>시각적으로 생각을 정리한다.
      </p>
    </div>
    <div class="item">
      <img src="img/tool/tool3.jpg" alt="베스트초이스">
      <p class="text">
        여러 사람이 각자 의견을 내고 토론해<br>
        공통적으로 나타나는 최고의 아이디어를 찾아낸다.
      </p>
    </div>
    <div class="item">
      <img src="img/tool/tool4.jpg" alt="5W1H">
      <p class="text">
        누가, 언제, 어디서, 무엇을, 어떻게, 왜 했는가로 상황을<br>
        정리한다. 뉴스 서술의 기초로 주로 활용된다.
      </p>
    </div>
    <div class="item">
      <img src="img/tool/tool5.jpg" alt="만다라트">
      <p class="text">
        목표 달성을 위한 세부 계획을 체계적으로 세우는 방법. <br>
        하나의 목표와 관련된 8개의 1차 목표와 <br>64개의 2차 목표를 구조화한다.
      </p>
    </div>
    <div class="item">
      <img src="img/tool/tool6.jpg" alt="WHY 다이어그램">
      <p class="text">
        주제에 대한 이유의 이유를 찾아 올라가며<br>
        문제의 해결책을 찾는다.
      </p>
    </div>
    <div class="item">
      <img src="img/tool/tool7.jpg" alt="역브레인스토밍">
      <p class="text">
        거꾸로 하는 브레인스토밍이다. <br>‘어떻게 하면 성적이 떨어질까’에 대해 <br>
        토론한 뒤 반대로 성적이 올라가는 방법을 모색한다.
      </p>
    </div>
  </div>
</div>

<div class="april-books ja_section_wrap" ja-section-title="에이프릴 독서활동">
  <div id="april-book-slider" class="april-book-slider owl-carousel april">
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book1.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">논픽션</span><br>
          레벨 <span class="colored-april">Seed 1</span><br>
          렉사일 지수 <span class="colored-april">310~350</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book2.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">논픽션</span><br>
          레벨 <span class="colored-april">Seed 1</span><br>
          렉사일 지수 <span class="colored-april">310~350</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book3.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">단편동화-우정</span><br>
          레벨 <span class="colored-april">Seed 1</span><br>
          렉사일 지수 <span class="colored-april">BR</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book4.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">단편소설-가족</span><br>
          레벨 <span class="colored-april">Sapling 2</span><br>
          렉사일 지수 <span class="colored-april">595~695</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book5.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">단편동화-대인관계</span><br>
          레벨 <span class="colored-april">Sprout 1</span><br>
          렉사일 지수 <span class="colored-april">320~420</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book6.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">전래동화</span><br>
          레벨 <span class="colored-april">Sapling 1</span><br>
          렉사일 지수 <span class="colored-april">525~625</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book7.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">단편소설-문화</span><br>
          레벨 <span class="colored-april">Sprout 3</span><br>
          렉사일 지수 <span class="colored-april">350~450</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book8.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">논픽션-사회운동</span><br>
          레벨 <span class="colored-april">Junior Master 2</span><br>
          렉사일 지수 <span class="colored-april">775~875</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book9.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">논픽션-질병</span><br>
          레벨 <span class="colored-april">Junior Master 2</span><br>
          렉사일 지수 <span class="colored-april">775~875</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book10.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">단편추리</span><br>
          레벨 <span class="colored-april">Sapling 1</span><br>
          렉사일 지수 <span class="colored-april">570~670</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book11.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">민간설화</span><br>
          레벨 <span class="colored-april">Seed 2</span><br>
          렉사일 지수 <span class="colored-april">250~350</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book12.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">논픽션-에세이</span><br>
          레벨 <span class="colored-april">Sprout 3</span><br>
          렉사일 지수 <span class="colored-april">510~610</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book13.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">단편동화-가족</span><br>
          레벨 <span class="colored-april">Sprout 1</span><br>
          렉사일 지수 <span class="colored-april">340~440</span>
        </p>
      </div>
    </div>
    <div class="item">
      <img class="owl-lazy" data-src="img/book/book14.jpg" alt="">
      <div class="layer">
        <p class="text">
          장르 <span class="colored-april">논픽션-미술</span><br>
          레벨 <span class="colored-april">Sapling 2</span><br>
          렉사일 지수 <span class="colored-april">610~710</span>
        </p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <header class="section-header">
      <h2 class="heading-1 colored-april bordered"><span>6개월마다 렉사일 지수 ...</span><br><span>수준 맞는 책 추천</span></h2>
      <div class="wrapper2">
        <p class="text">
          융합을 통한 창의를 하려면 폭넓은 기초지식을 갖춰야 한다. 에이프릴 어학원은 독서활동(Creative Reading 1000+)을 통해
          배경 지식을 쌓는다. 교실 학습과 연계한 정독과 온라인상의 다독으로 전체 교과를 수료하면 1500권 이상의 독서활동을 할 수 있다. 6개월에
          한 번씩 학생의 렉사일 지수를 측정해 수준에 맞는 책을 추천한다. 렉사일 지수는 미국 현지의 3000만 명 이상 학생이 활용하는 영어 독서능력과
          도서지수 기준이다. 렉사일 지수를 개발한 메타메트릭스사와 직접 제휴를 맺고 에이프릴 학생 전용 렉사일 지수 평가 프로그램도 개발했다.
        </p>
      </div>
    </header>
  </div>
</div>

<div class="april-illustrations ja_section_wrap" ja-section-title="에이프릴 교재">
  <div class="wrapper">
    <header class="section-header">
      <h2 class="heading-1 colored-april bordered"><span>에이프릴 교재는 작은 미술관</span></h2>
      <div class="wrapper2">
        <p class="text">
          에이프릴의 교재는 작은 미술관이다. 108개의 주제는 개성이 다른 다양한 일러스트로 채웠다.
          예술적 상상력과 감수성은 창의력 계발에 매우 중요하기 때문이다.
        </p>
      </div>
    </header>
  </div>
  <div id="april-illust-slider" class="april-illust-slider owl-carousel april mono-nav">
    {% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14] %}
    <div class="item"><img class="owl-lazy" data-src="img/illust/illust{{ i }}.jpg" alt="일러스트"></div>
    {% endfor %}
  </div>

  <div class="wrapper">
    <div class="section-more april">
      <p class="more-title">에이프릴 커리큘럼</p>
      <a href="http://www.chungdahm.com/html/submain.aspx?SubType=aprilSub" target="_blank" class="btn btn-white btn-wide">더 알아보기</a>
    </div>
  </div>
</div>