<nav class="section-nav">
  <a href="#igarten" class="igarten {% if section_active == 'igarten' %}active{% endif %}">
    <span class="title">i-GARTEN</span>
    <span class="info">아이가르텐  |  4 - 7세</span>
  </a>
  <a href="#april" class="april {% if section_active == 'april' %}active{% endif %}">
    <span class="title">April</span>
    <span class="info">APRIL어학원  |  7 - 13세</span>
  </a>
  <a href="#institute" class="institute {% if section_active == 'institute' %}active{% endif %}">
    <span class="title">CHUNGDAHM</span>
    <span class="info">청담어학원  |  11 - 19세</span>
  </a>
</nav>
